{% extends "base.html" %}

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">
    {% if entrada %}
    <div class="card-group">

        <div class="card bg-light" align="center">
            <div class="card-body">
                <h5 style="margin-center"><strong>Entradas</strong></h5>
            </div>
        </div>

        <div class="card bg-light" align="center">
            <div class="card-body">
             <!-- Pesquisa -->
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="tooltip" data-placement="top" title="Pesquisar" type="submit"><i class="fas fa-search"></i></button>
            </form>
            </div>
        </div>

        <div class="card bg-light" align="center">
            <div class="card-body">
            <!-- pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-sm justify-content-end">

                {% if object_list.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}&q={{ request.GET.q }}"><i class="fas fa-chevron-circle-left"></i> Anterior</a></li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">
                            Página {{ object_list.number }} de {{ object_list.paginator.num_pages }}
                            <span class="sr-only">(current)</span>
                    </span>
                </li>

                {% if object_list.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}&q={{ request.GET.q }}"><i class="fas fa-chevron-circle-right"></i> Próxima</a></li>
                {% endif %}

              </ul>
            </nav>
            <!--end of pagination-->
            </div>
        </div>

    </div>
    <!--end of card-group-->
</div>

<div class="container">
        <div class="row">
            {% for ent in entrada %}
                <div class="col-sm-6">
                    <div class="card-deck">
                        <div class="card border-dark mb-3" style="background-color: #eee;">
                            <div class="card-body">
                                <h5 class="card-title mb-2 ">{{ent.codigo}}. {{ ent.nome }} </h5>
                                <p class="card-text">{{ ent.descricao }}</p>
                                <a href="{% url 'processos:area_detalhe' area.id %}" class="btn btn-outline-primary btn-sm"><i class="fas fa-info-circle"></i> Detalhes</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <h2>Nenhum registro encontrado para a pesquisa {{ request.GET.q }} </h2>
        <div align="right">
            <a class="nav-link" href="{% url 'processos:home' %}">
                <i class="fas fa-arrow-circle-left"></i> Voltar
            </a>
        </div>
    {% endif %}

</div>


{% endblock %}